#Java binaries and IntelliJ files
*/bin/*
*bin/*
*/out/*
*idea*
!*/out/output/*
*Java.iml

#local VM files
*.vagrant/*
ubuntu-xenial*cloudimg-console.log

#dataset
*dataset/*

#R project files
*.Rproj.user
*.Rhistory
